
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;

  font-size: 20px;
}

#page-container {
  display: flex;
  justify-content: center;
}

.objects {
  position: absolute;
}

#border {
  border: 1px solid blue;
  width: 800px;
  height: 468px;
  /*background: url("../images/sky.png");*/
  overflow: hidden;

  border-radius: 10px;
}

.map {
  background: url("../images/dark-green-background.png");
  background-repeat: no-repeat;
  width: 1280px;
  height: 1280px;
}

#map2 {
  top: -1280px;
}

#map3 {
  top: -1280px;
  left: 1280px;
}

#map4 {
  left: 1280px;
}

#map5 {
  top: 1280px;
  left: 1280px;
}

#map6 {
  top: 1280px;
}

#map7 {
  top: 1280px;
  left: -1280px;
}

#map8 {
  left: -1280px;
}

#map9 {
  top: -1280px;
  left: -1280px;
}

.on-map {
  width: 60px;
  height: 60px;

  transition: background-color 0.125s;
}

#hero {
  background-color: red;
  left: 300px;
  top: 300px;
}

#enemy {
  background-color: blue;
  left: 100px;
  top: 100px;
}

#tree {
  background-color: green;
  left: 400px;
  top: 400px;
}

#goal {
  background-color: orange;
  left: 1600px;
  top: -400px;
}

#start-screen:hover {
  cursor: pointer;
}

#text-box {
  background-color: rgba(0,0,0,0.4);
  left: 260px;
  bottom: 0;
  padding: 0 10px 0 10px;
  text-align: center;

  border-radius: 5px;
}
