
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --map-width: 1280px;
  --map-height: 1280px;
}
/* Define map-width and map-hight with custom properties

   :root is the eqivalent to <html> DOM object; setting property here
    lets us inherit any value to all descendants

   Since custom properties are like variables, inheritance only
    happens when called
*/

body {
  background-color: black;
  color: white;

  font-size: 20px;
}

#page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Centering content with flex*/

  height: 100vh;
  /* Vertical centering made available by vh (viewport unit)
      (simply setting to 100% didn't work)*/
}

.objects {
  position: absolute;
}

#border {
  border: 1px solid blue;
  width: 800px;
  height: 468px;

  overflow: hidden;
  /*
    Limits visible area to inside the game screen
     by overflow: hidden
      (Prevents overflow of game objects.
       Provides game-screen-like experience)
  */

  border-radius: 10px;
}

.map {
  background: url("../images/dark-green-background.png");
  background-repeat: no-repeat;
  width: var(--map-width);
  height: var(--map-height);
}
/* Accesses custom properties with var()*/


#map2 {
  top: calc(var(--map-height) * -1);
}
/* For setting negative value, uses the calc() and multiplies -1*/


#map3 {
  top: calc(var(--map-height) * -1);
  left: var(--map-width);
}

#map4 {
  left: var(--map-width);
}

#map5 {
  top: var(--map-height);
  left: var(--map-width);
}

#map6 {
  top: var(--map-height);
}

#map7 {
  top: var(--map-height);
  left: calc(var(--map-width) * -1);
}

#map8 {
  left: calc(var(--map-width) * -1);
}

#map9 {
  top: calc(var(--map-height) * -1);
  left: calc(var(--map-width) * -1);
}

.on-map {
  width: 60px;
  height: 60px;

  transition: background-color 0.125s;
  /* Ease the immediate change of color with transition*/
}

#hero {
  background-color: red;
  left: 354px;
  top: 226px;
}

#enemy {
  background-color: blue;
  left: -150px;
  top: -150px;
}

#tree {
  background-color: green;
  left: 400px;
  top: 400px;
}

#goal {
  background-color: orange;
  left: 1600px;
  top: -400px;
}

#start-screen:hover {
  cursor: pointer;
  /*
     Implicitly tell the user that clicking the start screen
      makes you proceed, by making the cursor pointer on-hover
  */
}

#text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 100%;
  height: 100%;
}

#title,
#message {
  width: fit-content;
  padding: 0 10px 0 10px;

  background-color: rgba(0,0,0,0.4);
}

#title {
  margin-top: 70px;
  border-radius: 5px 5px 0 5px;
}

#message {
  border-radius: 0 0 5px 5px
}
